{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="container form-container">
    <div class="form-group">
        <form action="{% url 'authentication:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group text-center">
                <h3><b>Увійдіть в акаунт</b></h3>
            </div>
            {{ form.errors.password }}
            <div class="form-group">
                Емейл:
                {{ form.email }}
            </div>
            <div class="form-group">
                Пароль:
                {{ form.password }}
            </div>
            {% if form.errors.email %}
                <small class="form-error">*неправильний логін або пароль</small>
            {% endif %}
            <div class="form-group text-center">
                <input class="form-control btn btn-success form-button" type="submit" value="Увійти">
            </div>
        </form>
    </div>
</div>

{% if user.is_authenticated %}
    Current user is {{ user.email }}
    <a href="{% url 'authentication:logout' %}">logut</a><br>
{% endif %}
{% endblock content %}