{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'task/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
{% endblock styles %}

{% block content %}

<div>
    <div class="col-md-12 upper-row">
        <div class="row">
            <div class="col-md-6"><h1>{{ task.name }}</h1></div>
            {% if is_eximined %}
                <div class="col-md-6"><span class="time-line">{{ mark }} / {{ task.max_mark }}</span></div>
            {% elif task.max_mark == 0 %}
                
            {% else %}
                <div class="col-md-6"><span class="time-line">не оцінено</span></div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if owner_files %}
            <div class="col-md-6">
        {% else %}
            <div class="col-md-12">
        {% endif %}
            <h3 class="headers">Опис:</h3>
            <div id="description-div">
                {{ task.description }}
            </div>
        </div>
        {% if owner_files %}
            <div class="col-md-6 file-container">
                <h3>Прикріплені файли:</h3>
                <div id="file-div">
                    {% for file in owner_files %}
                        <div class="row">
                            <div class="col-md-10 file">
                                <a href="{{ file.media.url }}" download>{{ file }}</a>
                            </div>
                            <div>
                                {% if is_owner %}
                                    <form action="{% url 'task:delete_owner_file' course_id task.id file.id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Видалити">
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if is_owner %}
    <div class="row">
        <div class="col-md-6">
            {% if quiz %}
            <div class="row">
                <div class="col-md-2 btn-quiz">
                    <a href="{% url 'quiz:detail' task.course.id task.id %}">
                        <button class="btn btn-success btn-quiz">Тестове завдання</button>
                    </a>
                </div>

                <div class="col-md-2 btn-quiz-delete">
                    <form action="{% url 'task:detail' task.course.id task.id %}" method="POST">
                    {% csrf_token %}
                        <input class="btn btn-danger" type="submit" value="Видалити тестове завдання">
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col">
            <a href="{% url 'task:edit' task.course.id task.id %}">
                <button class="btn btn-info btn-task">Редагувати</button>
            </a>
            <a href="{% url 'task:user_files' task.course.id task.id %}">
                <button class="btn btn-info btn-task">Файли користувачів</button>
            </a>
            {% if not quiz %}
                <a href="{% url 'quiz:create' task.course.id task.id %}">
                    <button class="btn btn-info btn-task">Додати тестове завдання</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
{% if not is_owner %}
    <div class="row">
        <div class="col-md-6">
            <h3 class="headers">Завантажте ваші файли:</h3>
            <div class="col user-file-div">
                <form action="{% url 'task:add_files' course_id task.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">
                            <input class="form-control file-input" type="file" name="file" multiple>
                        </div>
                        <div class="col-md-2">
                            <input class="btn btn-info btn-user-files" type="submit" value="Прикріпити">
                        </div>
                    </div>
                </form>
                {% for file in user_files %}
                <div class="row">
                    <div class="col-md-10 file user-file">
                        <a href="{{ file.media.url }}" download>{{ file }}</a>
                    </div>
                    <form action="{% url 'task:delete_user_file' course_id task.id file.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger file-delete-btn" type="submit" value="Видалити">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if quiz %}
            <div class="col text-center quiz-div">
                <a href="{% url 'quiz:detail' task.course.id task.id %}">
                    <button class="btn btn-success btn-quiz-user">Тестове завдання</button>
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}
{% endblock content %}