{% extends 'homepage/_base.html' %}
{% block content %}
{{ task.name }}
{% if is_owner %}
    <a href="{% url 'task:edit' task.course.id task.id %}">
        <button>Edit</button>
    </a>
    {% if not quiz %}
    <a href="{% url 'quiz:create' task.course.id task.id %}">
        <button>Create Quiz</button>
    </a>
    {%  endif %}
{% endif %}
<h3>Quiz: <a href="{% url 'quiz:detail' task.course.id task.id %}">{{ quiz.id }}</a></h3>

<form action="{% url 'task:detail' task.course.id task.id %}" method="POST">
{% csrf_token %}
    <input type="submit" value="Delete Quiz">
</form>

<h3>Included files:</h3>
<ul>
    {% for file in files %}
        <li><a href="{{ file.media.url }}" download>{{ file }}</a></li>
    {% if is_owner %}
        <form action="{% url 'task:delete_file' course_id task.id file.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Delete File">
        </form>
    {% endif %}
    {% endfor %}
    {% comment %} {% if not is_owner %}
        <h3>Import Your Files:</h3>
        <form action="{% url 'task:done' course_id task.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" multiple>
            <input type="submit" value="Done">
        </form>
    {% endif %} {% endcomment %}
</ul>
{% endblock content %}