{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'task/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
{% endblock styles %}

{% block content %} 
{{ form.errors }}
<div class="form-group course-update-div">
    <form action="{% url 'task:update' course_id task_id %}" method="POST">
        {% csrf_token %}
        {{ task_form.as_p }}
        <input type="submit">
    </form>
    {% comment %} <form action="{% url 'task:update' course_id=course.id task_id=task.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group text-center">
            <h3><b>{{ task.name }}</b></h3>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 task-form-fields">
                <div class="form-group col-md-12">
                    Назва:
                    {{ form.name }}
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        Зробити до <small>(дд/мм/рррр гг:хх)</small>:
                        {{ form.do_up_to }}
                    </div>
                    <div class="col-md-6">
                        Оцінка за завдання:
                        {{ form.max_mark }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    Файли:
                    {{ form.file }}
                    {% if files %}
                        <div id="file-div-edit">
                            {% for file in files %}
                                <div class="row">
                                    <div class="col-md-10 file">
                                        <a href="{{ file.media.url }}" download>{{ file }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if files %}
                <div class="form-group col-md-6 description-div">
            {% else %}
                <div class="form-group col-md-6 description-div-no-files">
            {% endif %}
                Опис завдання:
                {{ form.description }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <input class="form-control btn btn-success " type="submit" value="Зберегти зміни">
            </div>
        </div>
    </form> {% endcomment %}
</div>

{% endblock %}