{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'course/style.css' %}">
{% endblock styles %}

{% block content %}

<div class="container users-container">
    <div class="row">
        <h2 class="course-users-header text-center">Рейтинг студентів</h2>
    </div>
    <div class="row text-center">
        <table class="users-table">
            <tr class="headers-row">
                <th rowspan="2" class="table-counter"></th>
                <th rowspan="2">Ім'я та Прізвище</th>
                {% for task in tasks %}
                    <th colspan="2">{{ task.name }}</th>
                {% endfor %}
                <th rowspan="2"></th>
            </tr>
            <tr>
                {% for task in tasks %}
                    <th>Завдання</th>
                    <th>Тести</th>
                {% endfor %}
            </tr>
            {% for user, marks in users_marks.items %}
                <tr class="table-row">
                    <td class="table-counter">{{ forloop.counter }}</td>
                    <td class="table-username">{{ user.first_name }} {{ user.last_name }}</td>
                    {% for mark in marks %}
                        {% if mark is None %}
                            <td>-</td>
                        {% else %}
                            <td>{{ mark }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="button-data">
                        <form action="{% url 'course:kick_user' course.id user.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="delete-user-btn" value="Видалити">
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr class="empty-row">
                    <td>_</td>
                    <td>_</td>
                    <td>_</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}
