{% extends 'course/create.html' %}
{% load static %}

<!-- This page extends from course create form and changes 3 small blocks -->

{% block course_header %}Редагування курсу{% endblock course_header %}

{% block course_form %}
    <form action={% url 'course:settings' course.id %} method="POST" enctype="multipart/form-data">
{% endblock course_form %}

{% block image_src %}
    {% if course.image %}
        src="{{ course.image.url }}"
    {% else %}
        src="{% static 'course/images/default_image.png' %}"
    {% endif %}
{% endblock image_src %}

{% block course_button %}"Зберегти зміни"{% endblock course_button %}
