/* task create form */
.task-create-container {
    box-shadow: 0 8px 16px 3px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 25px auto;
    padding: 25px 20px;
}

.task-form-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.task-form-header::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 80%;
    align-self: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.task-create-button {
    width: 60%;
    height: 45px;
    margin: 20px auto;
    background-color: #66ffcc;
    border: 1px solid #66ffcc;
    border-radius: 5px;
}

.task-create-button:hover {
    background-color: #1fb7b9;
    border-color: #1fb7b9;
}

/* task update form */
.files-container {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.files-row {
    padding-left: 12px;
}

.file-item {
    margin: 5px;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 1px solid #8d9194;
    background-color: white;
    font-size: 18px;
    height: 50px;
}

.file-item:hover {
    text-decoration: none;
    color: black;
    background-color: #a8feffb2;
}

.file-load-link:hover .download-svg {
    filter: invert(18%) sepia(55%) saturate(7423%) hue-rotate(356deg) brightness(94%) contrast(121%);
}

.download-svg {
    width: 30px;
}