/* #description-div {
    background-color: aliceblue;
    width: 98%;
    height: 35vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    word-wrap: break-word;
    overflow: auto;
}

#file-div {
    background-color: aliceblue;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 10px;
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.headers {
    margin-left: 20px;
}

.upper-row {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    margin-bottom: 20px;
}

.file {
    margin-bottom: 18px;
}

.file a {
    color: gray;
    transition: 350ms;
}

.file:hover {
    text-decoration: underline;
}

.time-line {
    float: right;
    padding-bottom: 20px;
    color: gray;
}

.btn-task {
    float: right;
    margin-right: 14px;
    margin-top: 20px;
}

.btn-quiz {
    margin-left: 10px;
    margin-top: 10px;
}

.btn-quiz-delete {
    margin-left: 50px;
    margin-top: 20px;
}

.description-div textarea {
    height: 69vh;
}

#file-div-edit {
    width: 100%;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.35);
    border-radius: 5px;
    padding: 15px;
    height: 47vh;
}

.description-div-no-files textarea {
    height: 21vh;
    margin-bottom: 30px;
}

.user-file-div {
    background-color: aliceblue;
    margin: 20px;
    margin-left: 20px;
    padding: 12px;
    height: 29vh;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-user-files {
    float: right;
}

.file-delete-btn {
    width: 115px;
}

.user-file {
    margin-left: 10px;
    margin-right: -10px;
}

.btn-quiz-user {
    width: 90%;
}

.quiz-div {
    margin-top: 54px;
}

.user-files-div {
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 30%;
    height: 20vh;
    margin-left: 2%;
    margin-bottom: 1%;
    overflow-y: auto;
}

.file-row {
    padding-left: 30px;
} */

