{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'homepage/style.css' %}">
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}{% endblock styles %}
</head>
<body>
    <nav class="navbar navbar-expand fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home:index' %}">DLearn</a>
            </div>
            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse navbar-main">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'course:create' %}">Створити курс</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="openJoinModal" href="#">долучитися до курсу</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link drop-button" onclick="showCreatedCourses()" href="#">
                                створені курси
                                <img class="icon" width="12" src="{% static 'homepage/open-iconic/svg/caret-bottom.svg' %}">
                            </a>
                            <div id="createdCoursesDropdown" class="dropdown-content">
                                {% for course in created_courses %}
                                    <a href="{% url 'course:detail' course.id %}">{{ course.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link drop-button" onclick="showAddedCourses()" href="#">
                                додані курси
                                <img class="icon" width="12" src="{% static 'homepage/open-iconic/svg/caret-bottom.svg' %}">
                            </a>
                            <div id="addedCoursesDropdown" class="dropdown-content">
                                {% for course in joined_courses %}
                                    <a href="{% url 'course:detail' course.id %}">{{ course.name }}</a>
                                {% endfor %}
                            </div>
                        </li>
                    </ul>
                </div>
            {% endif %}

            <div class="collapse navbar-collapse justify-content-end">
                <ul class="nav navbar-nav navbar-right">
                    
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:register' %}">
                                <img class="icon" width="14px" src="{% static 'homepage/open-iconic/svg/person.svg' %}">
                                Створити акаунт
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="openLoginModal" href="#">
                                <img class="icon" width="14px" src="{% static 'homepage/open-iconic/svg/account-login.svg' %}">
                                Увійти
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:logout' %}">
                                <img class="icon" width="14px" src="{% static 'homepage/open-iconic/svg/account-logout.svg' %}">
                                Вийти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="icon" width="14px" src="{% static 'homepage/open-iconic/svg/person.svg' %}">
                                {{ user.email }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- login modal -->
    {% if login_error or open %}<div class="modal" id="loginModal" style="display: block;">
    {% else %}<div class="modal" id="loginModal">
    {% endif %}
        <div class="modal-content">
            <span class="close" id="closeLogin">&times;</span>
            {% include 'authentication/login.html' %}
        </div>
    </div>

    <!-- join modal -->
    {% if join_error or join_open %}<div class="modal" id="joinModal" style="display: block;">
    {% else %}<div class="modal" id="joinModal">
    {% endif %}
        <div class="modal-content">
            <span class="close" id="closeJoin">&times;</span>
            {% include 'course/join.html' %}
        </div>
    </div>

    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>

    <div class="container-fulid">
        <footer class="text-center">&copy; 2022 Всі права захищенно</footer>
    </div>

    <!-- scripts -->
    <script>
        let loginModal = document.getElementById("loginModal");
        let loginBtn = document.getElementById("openLoginModal");
        let loginClose = document.getElementById("closeLogin");

        let joinModal = document.getElementById("joinModal");
        let joinBtn = document.getElementById("openJoinModal");
        let joinClose = document.getElementById("closeJoin");

        try {
            loginBtn.onclick = function() {
                loginModal.style.display = "block";
            }
        }
        catch {}
        

        loginClose.onclick = function() {
            loginModal.style.display = "none";
        }

        try {
            joinBtn.onclick = function() {
                joinModal.style.display = "block";
            }
        }
        catch {}

        joinClose.onclick = function() {
            joinModal.style.display = "none";
        }
        
    </script>
    <script src="{% static 'homepage/js/scripts.js' %}"></script>
</body>
</html>