{% extends 'homepage/_base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row homepage-greet-row">
    <div class="col-md-3"></div>
    <div class="col-md-5 align-self-center text-center homepage-central-div">
      Вітаємо Вас на <b class="logo-in-text">DLearn!</b><br>
      Створіть або додайте курс для початку роботи :)
      <div class="row">
        <div class="col-md-6">
          <a href="{% url 'course:create' %}">
            <button class="homepage-btn create-course-btn">Створити курс</button>
          </a>
        </div>
        <div class="col-md-6">
          <a href="{% url 'course:join' %}">
            <button class="homepage-btn add-course-btn">Додати курс</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}