{% extends 'homepage/_base.html' %}
{% block content %}
<h3>Homepage:</h3> current user is 
    {% if user.is_authenticated %}
        {{ user.email }}
    {% else %}
        NotLogedIn
    {% endif %}

<ul>
    <li><a href="{% url 'authentication:register' %}">Register</a></li>
    <li><a href="{% url 'authentication:login' %}">Login</a></li>
    <li><a href="{% url 'authentication:logout' %}">Logout</a></li>
</ul>
<ul>
    <li><a href="{% url 'course:create' %}">Create course</a></li>
    <li><a href="{% url 'course:join' %}">Join course</a></li>
</ul>
{% endblock content %}