{% extends 'homepage/_base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <form action="{% url 'quiz:create' task.course.id task.id %}" onsubmit="return optionsValidation()" method="POST">
        {% csrf_token %}
        <div class="container" id="questionsContainer">
            <ol id="questionsList">
                <li>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="question_1" required>
                        </div>
                        <div class="col">
                            <input type="button" id="addOptionId" name="optionForQuestion_1" value="+Option" onclick="addOption(1);">
                            <input type="checkbox" id="textOnly_1" name="textOnlyFor_1" onchange="eraseOptions('questionOptions_1')"> Text Answer
                        </div>
                    </div>
                    <div class="row">
                        <ul id="questionOptions_1"></ul>
                    </div>
                </li>
            </ol>
        </div>
        <input type="button" id="addQuestionId" value="+Question" onclick="addQuestion();"><br>
        <input type="submit" value="Create Quiz">
    </form>
</div>
<script src="{% static 'homepage/js/scripts.js' %}"></script>
{% endblock content %}
