{% extends 'homepage/_base.html' %}

{% block content %}
{% if is_owner %}

    <h1>Users which done quiz:</h1>
    <ul>
        {% for user in users_done %}
            {{ user.email }} <a href="{% url 'quiz:user_detail' course_id task_id user.id %}"><button>Result Details</button></a>
        {% endfor %}
    </ul>
    <h1>Users which not done quiz:</h1>
    <ul>
        {% for user in users_not_done %}
            {{ user.email }}
        {% endfor %}
    </ul>

{% elif not is_ready %}
    <h3>Description: {{ quiz.description }}</h3>
    <form action="{% url 'quiz:detail' course_id task_id %}">
        <input type="submit" value="Ready!" name="ready">
    </form>
{% else %}
    <div>
        <form action="{% url 'quiz:detail' course_id task_id %}" method="POST">
            {% csrf_token %}
            {% for question in questions %}
                <label>{{ question.question }}</label> <br>
                {% if question.id in one_answer_questions %}
                    <div>
                    {% for option in options %}
                        {% if option.question.id == question.id %}
                            {{ option.option }}<input type="radio" id="optionChoice_{{ option.id }}" name="option_{{ option.id }}"><br>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% else %}
                    {% for option in options %}
                        {% if option.question.id == question.id %}
                            {{ option.option }} <input type="checkbox" name="option_{{ option.id }}"><br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if question.text_answer %}
                    <textarea name="describe_{{ question.id }}" id="describe_{{ question.id }}" cols="30" rows="6"></textarea>
                {% endif %}
                <br>
            {% endfor %}
            <input type="submit">
        </form>
    </div>
{% endif %}
{% endblock content %}