.quiz-create-container {
    padding: 35px 25px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    margin: 25px auto;
    background-color: rgb(245, 250, 250);
}

.quiz-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.quiz-header::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgb(92, 92, 92);;
    justify-self: center;
    margin: auto;
    margin-top: 15px;
}

.quiz-row {
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 15px;
}

.description-check-container {
    display: flex;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.quiz-button {
    padding: 5px;
    width: 90%;
    background-color: #0dcaf0;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    color: white;
}

.quiz-button:hover {
    background-color: #0c9bb8;
    border-color: #0c9bb8;
}

.add-question-btn {
    width: 15%;
}

.bottom-div {
    padding-left: 32px;
}

.quiz-create-btn {
    background-color: #49e23b;
    border: 1px solid #49e23b;
    border-radius: 5px;
    padding: 7px;
    color: white;
    width: 20%;
    margin-right: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.quiz-create-btn:hover {
    background-color: #3ab42f;
    border-color: #3ab42f;
}

.create-quiz-btn-row {
    padding-top: 35px;
    display: flex;
    justify-content: flex-end;
}

.create-quiz-btn-row::before {
    content: "";
    justify-self: center;
    margin: auto;
    display: block;
    height: 1px;
    width: 98%;
    background-color: rgb(92, 92, 92);
    margin-bottom: 15px;
}

.option-li {
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin: 15px auto;
}

.option-check {
    width: 1%;
    margin-left: -20px;
}

.option-value {
    width: 20%;
}

.option-value input[type="text"] {
    margin-left: 10px;
    margin-right: 10px;
}

.option-delete-btn {
    width: 40px;
    padding: 5px;
    margin-left: 20px;
    border-radius: 5px;
}

.question-delete-btn {
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 32px;
    margin-left: -14px;
}

/* quiz detail */
.get-ready-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.get-ready-container p {
    text-align: center;
    font-size: 18px;
}

.get-ready-container input[type="submit"] {
    padding: 5px;
    width: 120%;
    background-color: #0dcaf0;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
}

.get-ready-container input[type="submit"]:hover {
    background-color: #0c9bb8;
    border-color: #0c9bb8;
}

.quiz-detail-container {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    margin: 25px auto;
    padding: 30px 25px;
    font-family: 'Roboto', sans-serif;
}

.options-list, .options-list li {
    list-style: lower-alpha !important;
}

.options-list {
    align-items: flex-start;
}

.options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.options-list li {
    word-wrap: break-word;
    width: 50%;
}

.options-container input[type="checkbox"], input[type="radio"] {
    margin-right: 24px;
}

.questions-container {
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.question-text {
    margin-bottom: 20px;
}

.question-textarea {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid gray;
    background-color: #ebf9fc;
}

.quiz-send-button {
    width: 20%;
}

.send-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
}
/* owner-detail */
.owner-detail-container {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    padding: 25px;
    margin: 25px auto;
}

.owner-detail-container table {
    width: 100%;
    border-collapse: collapse;
}

.quiz-header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.quiz-header::after {
    content: "";
    display: block;
    background-color: black;
    height: 1px;
    width: 90%;
    justify-self: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.owner-detail-container td, th {
    border: 1px solid black;
    padding: 5px;
    background-color: #e0faf8;
    font-family: 'Roboto', sans-serif;
}

.owner-detail-container th {
    text-align: center;
    background-color: #adf6f2 !important;
}

.td-username {
    background-color: #9DE0DD !important;
    text-transform: capitalize;
}

/* user-result */
.user-result-container {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
    padding: 25px;
    margin: 25px auto;
}

.user-options-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-options-container input[type="checkbox"] {
    margin-right: 25px;
}

.option-true {
    color: #42ce35;
}

.option-false {
    color: red;
}

.question-textarea:disabled {
    color: black;
}

.quiz-detail-header {
    display: flex;
    flex-direction: column;
}

.quiz-detail-header small {
    font-size: 16px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 5px;
    margin-right: 5px;
}

.quiz-detail-header span {
    font-weight: 400;
}

.quiz-detail-submit-div {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}

.text-answer-mark {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gray;
}