{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'task/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="container task-create-container">
    <div class="row">
        <h2 class="task-form-header">Створення завдання для курсу <b>"{{ course.name }}"</b></h2>
    </div>
    <form action="{% url 'task:create' course.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="taskName">Назва завдання:</label>
            {{ task_form.name }}
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="taskDateTime">Термін виконання:</label>
                {{ task_form.do_up_to }}
                <small class="form-error">{{ task_form.do_up_to.errors.0 }}</small>
            </div>
            <div class="col">
                <label for="taskMaxMark">Максимальний бал:</label>
                {{ task_form.max_mark }}
            </div>
        </div>
        <div class="form-group">
            {{ task_form.description }}
        </div>
        <div class="form-group">
            <label for="taskFiles">Завантажте файли для завдання:</label>
            {{ task_form.file }}
        </div>
        <div class="form-group text-center">
            <input class="task-create-button" type="submit" value="Створити завдання">
        </div>
    </form>
</div>

{% endblock %}