{% extends 'homepage/_base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'task/style.css' %}">
{% endblock styles %}

{% block content %}
<div class="container task-create-container">
    <div class="row">
        <h2 class="task-form-header">Редагування завдання <b>"{{ task.name }}"</b></h2>
    </div>
    <form action="{% url 'task:update' course_id task.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="taskName">Назва завдання:</label>
            {{ task_form.name }}
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="prevDateTime">Поточний термін виконання:</label>
                <input class="form-control" id="prevDateTime" type="text" value="{{ task_form.do_up_to.value }}" disabled>
            </div>
            <div class="col">
                <label for="taskDatetime">Оберіть новий термін виконання:</label>
                {{ task_form.do_up_to }}
                {% for error in task_form.do_up_to.errors %}
                    <small class="form-error">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="col">
                <label for="taskMaxMark">Максимальний бал:</label>
                {{ task_form.max_mark }}
            </div>
        </div>
        <div class="form-group">
            {{ task_form.description }}
        </div>

        {% if not files %}
        <div class="form-group">
            {{ task_form.file }}
        </div>
        {% else %}
        <div class="form-group row files-row">
            <div class="col files-container">
                {% for file in files %}
                    <div class="row file-item">  
                        <div class="col-md-11">
                            {{ file }}
                        </div>    
                        <div class="col-md-1">
                            <a class="file-load-link" href="{{ file.media.url }}" download>
                                <img src="{% static 'homepage/open-iconic/svg/data-transfer-download.svg' %}" class="download-svg">
                            </a>
                        </div>                  
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {{ task_form.file }}
            </div>
        </div>
        {% endif %}

        <div class="form-group text-center">
            <input class="task-create-button" type="submit" value="Зберегти зміни">
        </div>
    </form>
</div>

{% endblock %}
