@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* common classes */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:after,
*:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

footer {
    background-color: #1dadaf;
    bottom:0;
    width:100%;
    height:60px;   
    background:#adf6f2;
    padding-top: 18px;
    margin-top: 20px;
    position: relative;
}

.wrapper {
    height: auto;
    margin-bottom: -80px; 
    min-height: 100%;
    padding: 0 0 60px;
    box-sizing: border-box;
    overflow: auto;
}

a {
    color: blue;
    text-decoration: none;
}

/* navbar */
.navbar-brand {
    font-weight: 600;
    font-size: 30px;
    margin-right: 15vh;
    color: black;
}

.navbar-brand:hover {
    color: black;
}

.navbar {
    background-color: #adf6f2;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    text-transform: uppercase;
    color: rgb(70, 70, 70);
    transition: 250ms;
}

.nav-link:hover {
    color: #db545a !important;
}

/* homepage */
.homepage-greet-row {
    height: 73vh;
    font-size: 19px;
    font-weight: 500;
    color: rgb(82, 82, 82);
    font-family: 'Roboto', sans-serif;
    margin-top: 13vh;
}

.logo-in-text {
    color: black;
    font-weight: 600;
}

.homepage-btn {
    font-weight: 300;
    border-radius: 5px;
    background-color: #86E2FF;
    width: 88%;
    height: 35px;
    margin-top: 20px;
    border: none;
    transition: 300ms;
}

.create-course-btn {
    background-color: white;
    border: 1px solid #86E2FF;
    color: #67afc5;
    text-shadow: 0 0 1px #86E2FF;
}

.create-course-btn:hover {
    background-color: #86E2FF;
    color: black;
}

.add-course-btn:hover {
    background-color: #6ebed6;
}

.homepage-greet-row::after {
    content: "";
    display: block;
    background-color: rgba(128, 128, 128, 0.5);
    width: 60%;
    height: 1px;
    margin-top: -14vh;
    margin-left: 16%;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 220px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid lightgray;
}
  
.dropdown-content a:hover {
    background-color: #86E2FF;
}

.show {
    display:block;
}
