body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1%;
    margin-right: 1%;
    /* border: 1px solid white;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px; */
}

.nav-item {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.navbar-collapse {
    margin-right: 1%;
}

.navbar {
    background-color: rgb(0, 32, 60);
    box-shadow: 0px 6px 20px black;
}