{% extends 'homepage/_base.html' %}
{% block content %}
<p>{{ course.name }}</p>
<p>{{ course.group_name }}</p>
<p>{{ course.owner.email }}</p>
{% if is_owner %}
<form action="{% url 'course:detail' course.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete" name="delete">
</form>
<a href="{% url 'course:settings' course.id %}"><button>Settings</button></a>
{% else %}
<form action="{% url 'course:detail' course.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Leave" name="leave">
</form>
{% endif %}
{% endblock content %}