{% extends 'homepage/_base.html' %}
{% block content %}
<p>{{ course.name }}</p>
<p>{{ course.group_name }}</p>
<p>{{ course.owner.email }}</p>

{% if is_owner %}
    <form action="{% url 'course:detail' course.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete">
    </form>
    <a href="{% url 'course:settings' course.id %}"><button>Settings</button></a>
    <a href="{% url 'task:create' course.id %}"><button>Add Task</button></a>
{% else %}
    <form action="{% url 'course:leave' course.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Leave">
    </form>
{% endif %}

<h3>Tasks:</h3>
{% if tasks %}
    <ul>
        {% for task in tasks %}
        <li>
            <a href="{% url 'task:detail' course.id task.id %}">{{ task.name }}</a>
            {% if task.do_up_to %}
                <small>Do To {{ task.do_up_to }}</small>
            {% endif %}
            {% if is_owner %}
                <form action="{% url 'task:delete' course.id task.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Delete">
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% else %}
There are no tasks for this course
{% endif %}

{% if is_owner %}
    <h3>Joined Users:</h3>
    {% if joined_users %}
        {% for user in joined_users %}
            {{ user.email }}
            <form action="{% url 'course:kick_user' course.id user.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Kick User">
            </form>
        {% endfor %}
    {% else %}
            No one has joined your course yet
    {% endif %}
{% endif %}
{% endblock content %}